{% extends 'template.html.twig' %}

{% block header %}

    Liste des formations concernées par des stages

{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Formations</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', {'id' : formation.id}) }}">{{formation.nomLong}}</a> ({{formation.nomCourt}})</td>
                <td><a href="{{ path('formation_edit', {'id' : formation.id}) }}">Modifier</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
