{% extends 'template.html.twig' %}

{% block header %}
    Détails de la formation
{% endblock %}

{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>NomCourt</th>
                <td>{{ formation.nomCourt }}</td>
            </tr>
            <tr>
                <th>NomLong</th>
                <td>{{ formation.nomLong }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
