{% extends 'template.html.twig' %}

{% block header %}

Liste des entreprises proposant un stage

{% endblock %}

{% block body %}

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Entreprises</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for entreprise in entreprises %}
    <tr>
      <td>{{entreprise.nom}}</td>
      <td><a href='{{ path( "entreprises_edit", {id : entreprise.id } ) }}'>Modifier l'entreprise</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
